<form method="post" action="{{ path('empleado_usuario_delete', {'id': empleado_usuario.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ empleado_usuario.id) }}">
    <button class="btn">Delete</button>
</form>