{% extends 'base.html.twig' %}

{% block title %}EmpleadoUsuario index{% endblock %}

{% block body %}
    <h1>EmpleadoUsuario index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for empleado_usuario in empleado_usuarios %}
            <tr>
                <td>{{ empleado_usuario.id }}</td>
                <td>
                    <a href="{{ path('empleado_usuario_show', {'id': empleado_usuario.id}) }}">show</a>
                    <a href="{{ path('empleado_usuario_edit', {'id': empleado_usuario.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('empleado_usuario_new') }}">Create new</a>
{% endblock %}