{% extends 'base.html.twig' %}

{% block slidebar %}
    {{ include('view/sidebarnav/menu.html.twig') }}
{% endblock %}

{% block body %}
    <div class="row justify-content-center ">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Create new Credencial Admin</h4>
                    <button type="button" class="btn btn-dark btn-outline" onclick="location.href='{{ path('credencial_admin_index') }}'"><i class="fa fa-angle-left "></i> back to list</button>

                    {{ include('credencial_admin/_form.html.twig') }}

                </div>
            </div>
        </div>
    </div>
{% endblock %}